<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>News</title>
</head>

<body onload="startTime()">

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>

    <div id="txt"></div>

    <h1 style="color:blue;">Todays news</h1>
    <div>
        corona <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <img src="{% static 'images/corona.jpg' %}"
             alt="Corona" />
        <a href="http://127.0.0.1:8000/admin/">click to log in and view news stories</a><br />
    </div>
</body>
</html>